@model Gear.Models.User
@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<style>
    .myinput{
        padding: 5px;
    }

    .btn-primary, .btn-primary:active, .btn-primary:visited {
        background-color: #dcdcdc !important;
        border-color: #dcdcdc !important;
        color: #000000 !important;
        font-weight: bold;
        margin-top: 5px;
    }

        .btn-primary:hover {
            background-color: #b1abab !important;
        }
</style>

@using (Html.BeginForm())
{
<form action="/action_page.php">
    <label for="Password" style="font:bold">Password:</label>   <br />
    <input class="myinput" type="password" name="Password" value="@Model.Password"><br>
    <label for="Email" style="font:bold">Email:</label><br />
    <input class="myinput" type="text" name="Email" value="@Model.Email"><br>
    <label for="Name" style="font:bold">Name:</label><br />
    <input class="myinput" type="text" name="Name" value="@Model.Name"><br>
    <label for="Surname" style="font:bold">Surname:</label><br />
    <input class="myinput" type="text" name="Surname" value="@Model.Surname"><br>
    @*<label for="Age" style="font:bold">Age:</label><br />
    <input class="myinput" type="datetime" name="Age" value="@Model.Birthday"><br>
    <label for="Avatar" style="font:bold">Avatar:</label><br />
    <input type="file"
           id="avatar" name="avatar"
           accept="image/png, image/jpeg">*@
    <label for="country-info" style="font:bold">Country:</label><br />
   
    <input class="btn btn-primary" type="submit" value="Submit">
    <!--<input class="btn btn-primary" type="submit" value="Delete Profile">-->

</form>
}

<script>
    function getSelectedValue() {
        var value = document.getElementById("country").value;
        document.getElementById('country-info').value = value;
        
    }

</script>
