@model Gear.ViewModels.CountryViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .grid-container {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
        }

            .grid-container > columns {
            }

        .profile {
           
        }

        .profile-sidebar {
            text-align: right;
        }

        .profile-user-pic {
            text-align: center;
        }

        .profile-user-title {
            padding-left: 10px;
            font-weight: bold;
            text-align: left;
        }

        .profile-user-name {
        }

        .btn-primary, .btn-primary:active, .btn-primary:visited {
            background-color: #edebeb !important;
            border-color: #edebeb !important;
            color: #000000 !important;
            font-weight: bold;
        }

            .btn-primary:hover {
                background-color: #dcdcdc !important;
            }       

        #myInput {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            
            font-size: 18px;
            padding: 12px 20px 12px 2px;
            border: none;
            margin-bottom: 12px;
            margin-left: 15px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
            
        }

            #myUL li a {
                background: #edecec;
                text-decoration: none;
                font-size: 18px;
                color: black;
                display: block;
                width: 300px;
                padding: 10px;
            }

                #myUL li a:hover:not(.header) {
                    background-color: #b1b0b0;
                }

        .radio-input {
            visibility: hidden;
        }
        .radio-input:checked + label .popup .popuptext {
            visibility: visible;
        }
        
        #gameInfo {
            font: bold;
        }
    </style>

    <header class="mt-2">
        <h1>Profile</h1>
    </header>
    <hr />
    <div class="grid-container">
            
        <div class="game-list" style="grid-column:1;">
            <input type="text" class="input-sm" style="margin-left:0px;" id="myInput" placeholder="Search for games.." title="Type in a name" oninput="newSearch()">
            <div id="game-list-item" class="list-group" style="background-color:#dcdcdc;">
                @foreach(var game in Model.user.LibraryGames)
                {
                    <style>
                        .button {
                            
                            border: none;

                            border-color: #c3c3c3;
                            padding-left: 0px;
                            padding-bottom: 0px;
                            padding-top: 0px;
                            color: black;
                            
                        }

                            .button span {
                                color: black;
                            }


                        .grid-container-game {
                            display: grid;
                            grid-template-columns: 400px auto;
                            grid-auto-rows: 200px;
                            grid-row-gap: 5px;
                        }
                        .grid-item-info {
                            position: relative;
                            padding-left: 5px;
                            font-size: 30px;

                        }
                        .grid-item-img>img {
                            
                            width: 100%;
                            height: 100%;
                        }
                    </style>
                    
                    
                    <button id="@game.Game.Name" onclick="download()" class="list-group-item list-group-item-action button" style="margin-bottom: 1px;">
                        <div class="grid-container-game">
                            <div class="grid-item-img">
                                <img src="~/Files/@game.Game.Dir/icon.jpg" class="img-fluid" alt="Avatar" >
                            </div>
                            <div class="grid-item-info">
                                <span class="text-primary">
                                    <h1 style="font:bold; color: black">@game.Game.Name</h1>
                                </span> 
                                <h2 style="font-size: 16px; bottom: 0">@game.Game.ShortDescription</h2>
                                <h2 style="font-size: 16px; bottom: 0">Release date: @game.Game.ReleaseDate.ToString("yyyy/MM/dd")</h2>
                            </div>
                        </div>
                    </button>
                    


                    
                }
            </div>
        </div>

        <div class=" profile" style="grid-column:3;">

            <div class="profile-sidebar">
                <div class="profile-user-pic">
                    <img src="~/Content/images/user.jpg" class="img-fluid img-circle" alt="Avatar" style="width: 200px; height: 200px">
                </div>
                <div class="profile-user-title">
                    <div class="profile-user-username">
                        @Model.user.Username
                    </div>
                    <div class="profile-user-name">
                        @Model.user.Name @Model.user.Surname
                    </div>
                    <div class="profile-user-email">
                        @Model.user.Email
                    </div>
                </div>
                <div class="btn-group-vertical button">
                    <button role="button" class="btn btn-primary" style="width: 200px !important">@Html.ActionLink("Edit profile", "Edit", null, new { @class = "nav-link" })</button>
                    @*<button role="button" class="btn btn-primary" style="width: 200px !important">@Html.ActionLink("Chat Room", "Chatroom", null, new { @class = "nav-link" })</button>*@
                    <button class="btn btn-primary" style="width: 200px !important">@Html.ActionLink("Shopping Cart", "Profile", null, new { @class = "nav-link" })</button>
                    <button role="button" class="btn btn-primary" style="width: 200px !important">@Html.ActionLink("Become a creator", "Profile", null, new { @class = "nav-link" })</button>
                </div>
                <div class="profile-use-menu">

                </div>

            </div>
        </div>

    </div>


    <script>
        function newSearch() {
            console.log("searching");
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();

            listitem = document.getElementById("game-list-item");
            buttons = listitem.getElementsByTagName("button");

            for (var i = 0; i < buttons.length; i++) {
                text = $(buttons[i].getElementsByTagName("span")).text();

                if (text.toUpperCase().indexOf(filter) > -1) {
                    buttons[i].style.display = "";
                }
                else {
                    buttons[i].style.display = "none";
                }

                //console.log(listitem[i].getElementByTagName("button").getElementsByTagName("span"));
            }
        }

        function download() {
            confirm("Are you sure you want to download this game?");
        }
        var list = document.getElementById('gameList');

        function showList() {

        }
    </script>
