@model Gear.Models.UserGame

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .grid-container {
            display: grid;
            grid-template-columns:max-content 1fr max-content;
        }

            .grid-container > columns {
            }

        .profile {
            background: #edecec;
        }

        .profile-sidebar {
            text-align: right;
        }

        .profile-user-pic {
            text-align: center;
        }

        .profile-user-title {
            padding-left: 10px;
            font-weight: bold;
            text-align: left;
        }

        .profile-user-name {
        }

        .btn-primary, .btn-primary:active, .btn-primary:visited {
            background-color: #dcdcdc !important;
            border-color: #dcdcdc !important;
            color: #000000 !important;
            font-weight: bold;
        }

            .btn-primary:hover {
                background-color: #b1abab !important;
            }


        .btn {
            border: none;
            background-color: inherit;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            width: 300px;
            text-align: left;
        }
        .btn-game {
            border: none;
            background-color: inherit;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            width: 100%;
            text-align: left;
        }

        

        #myInput {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            
            font-size: 18px;
            padding: 12px 20px 12px 2px;
            border: none;
            margin-bottom: 12px;
            margin-left: 15px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
            
        }

            #myUL li a {
                background: #edecec;
                text-decoration: none;
                font-size: 18px;
                color: black;
                display: block;
                width: 300px;
                padding: 10px;
            }

                #myUL li a:hover:not(.header) {
                    background-color: #b1b0b0;
                }

        .popup {
            
            display: flex;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transform: translate(0px,-50px);
            margin-top: 5px;
        }
            .popup:checked {
                visibility: visible;
            }
            /* The actual popup */
            .popup .popuptext {
                visibility: hidden;
                width: 160px;
                background-color: #edecec;
                
                text-align: center;
               
                padding: 8px;
                


                
            }
            /* Toggle this class - hide and show the popup */
            .popup .show {
                visibility: visible;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }
        .radio-input {
            visibility: hidden;
        }
        .radio-input:checked + label .popup .popuptext {
            visibility: visible;
        }
        
    </style>
</head>

<body>
    <header>
        <h1>Profile</h1>
    </header>
    <hr />
    <div class="grid-container">
            
        <div class="game-list" style="grid-column:1;">
            <input type="text" class="input-sm" style="margin-left:0px;" id="myInput" placeholder="Search for names.." title="Type in a name" oninput="newSearch()">
            <div id="game-list-item" class="list-group">
                @foreach (var game in Model.games)
                {
                    <button class="list-group-item list-group-item-action" style="margin-bottom: 1px;">
                        <span class="text-primary">@game.Name</span>


                        <!--<input class="radio-input" type="radio" name="games" id="@game.Id" />
                        <label for="@game.Id" style="height: 50px">
                            <a class="btn-game">@game.Name</a>
                            <div class="popup" style="transform: translate(299px,-50px); width: 150px; visibility: hidden">
                                <span class="popuptext" id="myPopup" style="padding-bottom: 11px">
                                    @game.Name <br />
                                    Bought: @game.Description <br />
                                </span>
                            </div>
                        </label>-->
                    </button>
                }
            </div>
        </div>

        <div class=" profile" style="grid-column:3;">

            <div class="profile-sidebar">
                <div class="profile-user-pic">
                    <img src="@Url.Content(Model.user.Avatar)" class="img-fluid img-circle" alt="Avatar" style="width: 200px; height: 200px">
                </div>
                <div class="profile-user-title">
                    <div class="profile-user-username">
                        @Model.user.Username
                    </div>
                    <div class="profile-user-name">
                        @Model.user.Name @Model.user.Surname
                    </div>
                    <div class="profile-user-email">
                        @Model.user.Email
                    </div>
                </div>
                <div class="btn-group-vertical button">


                    <button role="button" onclick="window.location.href= '/Profile/Edit';" class="btn btn-primary" style="width: 200px !important">Edit profile</button>
                    <button class="btn btn-primary" style="width: 200px !important">Facebook login</button>
                    <button role="button" onclick="window.location.href= '/Profile/ChatRoom';" class="btn btn-primary" style="width: 200px !important">Chat room</button>
                    <button class="btn btn-primary" style="width: 200px !important">Shopping cart</button>
                    <button class="btn btn-primary" style="width: 200px !important">Sign out</button>
                </div>
                <div class="profile-use-menu">

                </div>

            </div>
        </div>

    </div>


    <script>
        function newSearch() {
            console.log("searching");
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();

            listitem = document.getElementById("game-list-item");
            buttons = listitem.getElementsByTagName("button");

            for (var i = 0; i < buttons.length; i++) {
                text = $(buttons[i].getElementsByTagName("span")).text();

                if (text.toUpperCase().indexOf(filter) > -1) {
                    buttons[i].style.display = "";
                }
                else {
                    buttons[i].style.display = "none";
                }

                //console.log(listitem[i].getElementByTagName("button").getElementsByTagName("span"));
            }
        }
    </script>
