
@model Gear.ViewModels.StoreViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    .section-header{
        text-transform: uppercase;
    }

    .showcase {
        display: inline-block;
        /*Fit content*/
        height: auto;
        /*Make scroll menu*/
        overflow: auto;
        white-space: nowrap;
        /*Add margins*/
        margin-top: 10px;
        margin-bottom: 15px;
        /*fix whitespaces*/
        padding-right: 16px;
    }
    .showcase-item {
        display: inline-grid;
        width: 20%;
        /*Remove whitespace*/
    }

    .showcase-item-image {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: auto;
    }

    .showcase-item-text {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        align-self: flex-end;
        background-color: rgb(224,224,224,0.7);
    }

    .showcase-item-price {
        grid-row: 1;
        grid-column: 1;
        align-self: flex-end;
        justify-self: flex-end;
        padding: 0px 3px 0px 3px;
        background-color: rgb(88,88,88,0.7);
        color: mediumturquoise;
    }

    .showcase-item-discount {
        grid-row: 1;
        grid-column: 1;
        align-self: flex-start;
        justify-self: flex-end;
        padding: 0px 3px 0px 3px;
        background-color: limegreen;
        color: lightgreen;
        opacity: 0.9;
        border-bottom-left-radius: 8px;
    }
</style>

<style>
    .game-list-wrapper {

    }

    .game-list {
        margin-top: 5px;
    }

    

</style>

<script language="javascript" type="text/javascript">
    var oldCallingElement = "pupularButton";
    var oldContentContainer = "popularTab";
    function selectTab(callingElement, contentContainer) {
        document.getElementById(oldCallingElement).classList.remove("active");
        document.getElementById(callingElement).classList.add("active");

        document.getElementById(oldContentContainer).hidden = true;
        document.getElementById(contentContainer).hidden = false;

        oldCallingElement = callingElement;
        oldContentContainer = contentContainer;
    }
</script>

<div class="row">
    <div class="showcase row">
        <h1 class="section-header">Featured</h1>
        @for (int i = 0; i < Model.Showcase.Count; i++)
        {
            <div class="showcase-item">
                <img class="showcase-item-image" src="@Model.Showcase[i].Picture.Directory" />
                <text class="showcase-item-text">@Model.Showcase[i].Game.Name</text>
                <text class="showcase-item-price">10.99$</text>
                <text class="showcase-item-discount">100%</text>
            </div>
        }
    </div>
    <div class="game-list-wrapper row">
        <h3 class="section-header">Find what you like</h3>
        <ul class="nav nav-tabs">
            <li id="pupularButton" class="active"><a onclick="selectTab('pupularButton', 'popularTab')">Popular</a></li>
            <li id="newestButton"  class=""><a onclick="selectTab('newestButton','newestTab')">Newest</a></li>
            <li id="specialsButton"class=""><a onclick="selectTab('specialsButton','specialsTab')">Specials</a></li>
        </ul>
        <div class="game-list">
            <div id="popularTab">
                <style>
                    .game-list-item {
                        display: grid;
                        grid-template-columns: max-content 1fr max-content;
                        margin: 0px 3px 5px;px 3px;
                        padding:0px 5px 5px 5px;
                        border-bottom: 1px solid rgb(204,204,204,0.7);
                    }

                        .game-list-item .icon-wrapper {
                            max-width: 200px;
                            max-height: 113px;
                        }

                            .game-list-item .icon-wrapper .icon {
                                width: 100%;
                                height: 100%;
                            }

                       .game-list-item .info-wrapper {
                            /*grid-area: info;*/
                            display: grid;
                            grid-template-rows: max-content auto max-content;
                            margin-left: 10px;
                            padding-bottom: 2px;
                            white-space:nowrap;
                            overflow: hidden;
                        }

                            .game-list-item .info-wrapper .title {
                                font-size: 20px;
                            }

                            .game-list-item .info-wrapper .description {
                                font-size: 15px;
                            }

                            .game-list-item .info-wrapper .tags {
                                font-size: 12px;
                            }

                                .game-list-item .info-wrapper .tags .tag {
                                    border: 1px solid rgb(204,204,204);
                                    border-radius: 10px;
                                    padding: 2px;
                                }

                        .game-list-item .cart-wrapper {
                            /*grid-area: cart;*/
                            align-self: center;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr 1fr;
                            text-align: center;
                            margin-left: 30px;
                            margin-right: 30px;
                        }

                            .game-list-item .cart-wrapper .price {
                                grid-row: 1;
                                grid-column: 2;
                                margin-left: 2px;
                            }

                            .game-list-item .cart-wrapper .discount {
                                grid-row : 1;
                                grid-column: 1;
                                margin-right: 2px;
                                background-color: lightgreen;
                                border-radius: 3px;
                            }

                            .game-list-item .cart-wrapper .cart-button {
                                grid-row: 2;
                                grid-column: 1/-1;
                            }

                </style>
                
                @for (int i = 0; i < 3; i++)
                {
                    <div class="game-list-item">
                        <div class="icon-wrapper">
                            <img class="icon" src=@(Model.Pupular[0].Picture.Directory)>
                        </div>
                        <div class="info-wrapper">
                            <div class="title">@(Model.Pupular[0].Game.Name)</div>
                            <div class="description">@(Model.Pupular[0].Game.Description) popular tab</div>
                            <div class="tags">
                                <a class="tag">Tag 1</a>
                                <a class="tag">Tag 2</a>
                                <a class="tag">Tag 3</a>
                            </div>
                        </div>
                        <div class="cart-wrapper">
                            <div class="price">10.99 $</div>
                            <div class="discount">100%</div>
                            <div class="cart-button"><a class="button">+ To cart</a></div>
                        </div>
                    </div>
                }
            </div>
            <div id="newestTab" hidden>
                @for (int i = 0; i < 3; i++)
                {
                    <div class="game-list-item">
                        <div class="icon-wrapper">
                            <img class="icon" src=@(Model.Pupular[0].Picture.Directory)>
                        </div>
                        <div class="info-wrapper">
                            <div class="title">@(Model.Pupular[0].Game.Name)</div>
                            <div class="description">@(Model.Pupular[0].Game.Description) newest tab</div>
                            <div class="tags">
                                <a class="tag">Tag 1</a>
                                <a class="tag">Tag 2</a>
                                <a class="tag">Tag 3</a>
                            </div>
                        </div>
                        <div class="cart-wrapper">
                            <div class="price">10.99 $</div>
                            <div class="discount">100%</div>
                            <div class="cart-button"><a class="button">+ To cart</a></div>
                        </div>
                    </div>
                }
            </div>
            <div id="specialsTab" hidden>
                @for (int i = 0; i < 3; i++)
                {
                    <div class="game-list-item">
                        <div class="icon-wrapper">
                            <img class="icon" src=@(Model.Pupular[0].Picture.Directory)>
                        </div>
                        <div class="info-wrapper">
                            <div class="title">@(Model.Pupular[0].Game.Name)</div>
                            <div class="description">@(Model.Pupular[0].Game.Description) special tab</div>
                            <div class="tags">
                                <a class="tag">Tag 1</a>
                                <a class="tag">Tag 2</a>
                                <a class="tag">Tag 3</a>
                            </div>
                        </div>
                        <div class="cart-wrapper">
                            <div class="price">10.99 $</div>
                            <div class="discount">100%</div>
                            <div class="cart-button"><a class="button">+ To cart</a></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        Valdymo skydelis
        <div>
            Paieska pagal pavadinima/Isplestine paieska
        </div>
        <div>
            Krepselio quickview
        </div>
    </div>

</div>
