@model Gear.ViewModels.StoreViewModel

@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    <h1 class="display-4">Featured</h1>

    <div id="featured" class="carousel slide w-75 mx-auto pb-4" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (Gear.Models.Discount game in Model.Discounted)
            {

                <style>
                    .carousel-item:hover {
                        cursor: pointer;
                    }

                        .carousel-item:hover .carousel-caption {
                            opacity: 1;
                        }
                </style>

                <div class="carousel-item @(Model.Discounted.First() == game ? "active" : "")">
                    <img class="d-block w-100 rounded" src="@("../Files/" + game.Game.Dir + "/icon.jpg")" alt="First slide">

                    @*change later*@
                    <style>
                        .carousel-caption {
                            left: auto;
                            right: auto;
                            opacity: 0.8;
                            bottom: 0px;
                        }
                    </style>

                    <div id="recommended" class="carousel-caption d-flex align-items-end w-100 p-1 bg-dark">
                        <h5 class="d-inline my-auto ml-3 mr-auto">@game.Game.Name</h5>
                        <p class="d-inline my-auto mr-3">
                            <text class="px-2 rounded" style="color: black; background-color:lightgreen;">@game.Modifier.ToString("#0.##%")</text>
                            <text>@((game.Game.Price * game.Modifier).ToString("0.00"))</text>
                            <text>EUR</text>
                        </p>
                    </div>
                </div>
            }
        </div>


        <style>
            .carousel-indicators .active {
                background-color: lightblue !important;
            }

            .carousel-indicators li {
                background-color: lightgray;
            }
        </style>

        <ul class="carousel-indicators" style="bottom:-10px;">

            @for (int i = 0; i < Model.Discounted.Count; i++)
            {
                <li data-target="#featured" data-slide-to="@i" class="@(i==0?"active":"") border rounded p-1"></li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="Popular" aria-selected="true">Popular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="discounted-tab" data-toggle="tab" href="#discounted" role="tab" aria-controls="Discounted" aria-selected="false">Discounted</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="newest-tab" data-toggle="tab" href="#newest" role="tab" aria-controls="Newest" aria-selected="false">Newest</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                @foreach (var game in Model.Newest)
                {
                    <div class="row border-bottom p-sm-1 rounded">
                        <div class="col-3">
                            <img class="p-0 rounded img-fluid" style="width: 100%; height:auto;" src="@("../Files/" + game.Dir + "/icon.jpg")" alt="First slide">
                        </div>  
                        <div class="col row w-100">
                            <div class="col row mr-auto">
                                <div class="align-self-start col-12 p-0">
                                    <h5 class="">@game.Name</h5>
                                    <text class="">@game.ShortDescription</text>
                                </div>
                                <div class="align-self-end">
                                    <text class="">Test</text>
                                </div>
                            </div>
                            <div class="col-auto align-self-center mr-2">
                                <text class="row">@game.Price EUR</text>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="discounted" role="tabpanel" aria-labelledby="discounted-tab">
                <h5>Discounted</h5>
            </div>
            <div class="tab-pane fade" id="newest" role="tabpanel" aria-labelledby="newest-tab">
                <h5>Newest</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="input-group">
            <input class="form-control" type="text"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group">
                <a class="badge badge-primary mr-1" href="#">+</a>
                <a class="badge badge-primary mr-1" href="#">-</a>
                <text class="text-primary">Tag1</text>
            </div>
            
            <div class="input-group">
                <a class="badge badge-primary mr-1" href="#">+</a>
                <a class="badge badge-primary mr-1" href="#">-</a>
                <text class="text-primary">Tag2</text>
            </div>
        </div>
    </div>
</div>
