@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gear.ViewModels.SearchViewModel
<div class="row mt-2">
    <h5 class="display-4">Search</h5>
</div>
<hr/>
<div class="row">
    <div>
        <span>Search: </span>
        <b>@(Model.Search == "" ? "All" : Model.Search)</b>
    </div>
    @if (Model.Selected != null)
    {
        <div class="ml-2">
            <span>Category: </span>
            <b>@Model.Selected</b>
        </div>
    }
</div>
<div class="row mt-3">
    <div class="col-9">
        @if (Model.View.Count > 0)
        {
            foreach (Gear.Models.Game game in Model.View)
            {
                <div class="row border-bottom p-sm-1 rounded">
                    <div class="col-3">
                        <img class="p-0 rounded img-fluid" style="width: 100%; height:auto;" src="@("../Files/" + game.Dir + "/icon.jpg")" alt="First slide">
                    </div>
                    <div class="col row w-100">
                        <div class="col row mr-auto">
                            <div class="align-self-start col-12 p-0">
                                <h5 class="">@game.Name</h5>
                                <text class="">@game.ShortDescription</text>
                            </div>
                            <div class="align-self-end">
                                @foreach (Gear.Models.Genre genre in game.Genres)
                                {
                                    @Html.ActionLink(genre.Name, "Search", "Store", new { tag = genre.Name }, new { @class = "badge badge-info ml-sm-1" })
                                }
                            </div>
                        </div>
                        <div class="col-auto align-self-center mr-2">
                            @{
                                DateTime now = DateTime.Now;
                                Gear.Models.Discount hasDiscount = game.Discounts.Where(d => d.ExpireDate > now).Where(d => d.Hidden != 1).FirstOrDefault();
                            }

                            @if (hasDiscount != null)
                            {
                                <span class="d-block text-center badge badge-success">-@hasDiscount.Modifier.ToString("#0.##%")</span>
                                <span class="d-block text-center badge badge-light">@((game.Price * hasDiscount.Modifier).ToString("0.00")) EUR</span>
                            }
                            else
                            {
                                <span class="d-block text-center badge badge-light">@game.Price EUR</span>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row jumbotron">
                <h1 class="display-4">No results!</h1>
            </div>
        }
    </div>

    @using (Html.BeginForm("Search", "Store", FormMethod.Post, new { @class = "col nav navbar-nav ml-1" }))
    {
        <div class="nav-item input-group mb-1">
            <input type="text" class="form-control text-truncate" placeholder="Search store" name="search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
        if ((bool)Session["LoggedIn"])
        {
            <div class="nav-item">
                <button class="btn btn-light w-100" type="button" data-toggle="collapse" data-target="#cartCollapse" aria-expanded="false" aria-controls="cartCollapse"><b>Cart</b></button>
                <div class="collapse multi-collapse" id="cartCollapse">
                    <div class="dropdown-divider"></div>
                    <a href="#" class="btn btn-outline-info w-100">Checkout</a>
                    <div class="dropdown-divider"></div>
                    <ul class="list-group">
                        @if (Model.Cart != null && Model.Cart.CartItems.Count != 0)
                        {
                            foreach (Gear.Models.CartItem item in Model.Cart.CartItems)
                            {
                                <li class="list-group-item">
                                    <span class="text-primary">x@(item.Amount)</span>
                                    <span class="text-capitalize">@item.Game.Name</span>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item alert alert-info text-center">Cart is empty!</li>
                        }
                    </ul>
                </div>
            </div>
        }

        <div class="nav-item text-center">
            <button class="btn btn-light w-100" type="button" data-toggle="collapse" data-target="#tagCollapse" aria-expanded="false" aria-controls="tagCollapse"><b>Categories</b></button>
            <div class="collapse multi-collapse" id="tagCollapse">
                <div class="dropdown-divider"></div>
                @if (Model.Tags != null && Model.Tags.Count > 0)
                {
                    <div class="btn-group-toggle" data-toggle="buttons">
                        @foreach (Gear.Models.Genre item in Model.Tags)
                        {
                            <label class="btn btn-sm btn-warning">
                                <input type="radio" name="tag" value="@item.Name"> @item.Name
                            </label>
                        }
                    </div>
                }
                else
                {
                    <div class="list-group-item alert alert-info text-center">No categories!</div>
                }
            </div>
        </div>
    }
</div>