
<div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        @Html.ActionLink("Gear", "Index", "Store", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    @using (Html.BeginForm("Search", "Store", FormMethod.Post, new { @class = "input-group" }))
                    {
                        <input type="text" class="form-control text-truncate" name="search" placeholder="Search store">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    }
                </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="nav navbar-nav ml-auto">
                @if ((bool)Session["LoggedIn"])
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">@Session["Username"] <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">@Session["Rank"]</h6>
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Profile", "Index", "Profile", null, new { @class = "dropdown-item" })
                            @if (((string)Session["Rank"]).Contains("Creator"))
                            {
                                @Html.ActionLink("Creator", "Index", "Creator", null, new { @class = "dropdown-item" })
                            }
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Logout", "Logout", "Profile", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Login <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 250px;">
                            @using (Html.BeginForm("Login", "Profile", FormMethod.Post, new { @class = "p-3" }))
                            {
                                <div class="form-group">
                                    <label for="dropdownUsername">Username</label>
                                    <input type="text" class="form-control" id="dropdownUsername" name="username" placeholder="Enter Username">
                                </div>
                                <div class="form-group">
                                    <label for="dropdownPassword">Password</label>
                                    <input type="password" class="form-control" id="dropdownPassword" name="password" placeholder="Enter Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            }
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Register", "Register", "Profile", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>