
<div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        @Html.ActionLink("Gear", "Index", "Store", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Store <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Store", "Index", "Store", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Search", "Search", "Store", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Payment", "Payment", "Store", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item">@Html.ActionLink("Profile", "Index", "Profile", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Creator", "Index", "Creator", null, new { @class = "nav-link" })</li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                @if ((bool)Session["LoggedIn"])
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">@Session["Username"] <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Logout", "Logout", "Profile", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">@Html.ActionLink("Login", "Login", "Profile", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Register", "Register", "Profile", null, new { @class = "nav-link" })</li>
                }
            </ul>
        </div>
    </div>
</div>